<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../img/Cart.png">
    <link rel="stylesheet" href="../css/normalize.css">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>POS</title>
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<main>

    <div class="left">
        <div class="top">
            <h1>POS System</h1>
        </div>
        <nav>
            <div class="man1">
                <a href="home.html"><p>Home</p></a>
            </div>
            <div class="man2">
                <a href="customer.html"><p>Customer</p></a>
            </div>
            <div class="man3">
                <a href="item.html"> <p>Item</p></a>
            </div>
            <div class="man4">
                <a href="order.html"> <p>Order</p></a>
            </div>
            <div class="man5">
                <a href="payment.html">  <p>Payment</p></a>
            </div>
            <div class="man6">
                <a href="login.html"><p>Logout</p></a>
            </div>
        </nav>
    </div>
    <div class="right">
        <header>
            <ul>
                <li><a href="home.html"><i class="fas fa-home"></i></a></li>
                <li><a href="customer.html"><i class="fas fa-user-circle"></i></a></li>
                <li><a href="item.html"><i class="fas fa-cart-arrow-down"></i></a></li>
                <li><a href="order.html"><i class="fas fa-align-justify"></i></a></li>
                <li><a href="payment.html"><i class="far fa-credit-card"></i></a></li>
                <li><a href="login.html"><i class="fas fa-power-off"></i></a></li>
            </ul>
        </header>
        <div class="next">
             <div class="search">
                 <form>
                     <lable>Search</lable>
                     <input type="search" name="Search" placeholder="Search Customer">
                 </form>
             </div>
            <div class="ful">
                <form>
                    <label>Customer Name</label>&nbsp &nbsp &nbsp &nbsp &nbsp
                    <input type="text" placeholder="Input Customer Name">
                    <br>
                    <br>
                    <label>Customer ID</label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <input type="text" placeholder="Input Customer ID">
                    <br>
                    <br>
                    <label>Customer Address</label> &nbsp &nbsp
                    <input type="text" placeholder="Input Customer Address">
                    <br>
                    <br>
                    <label>Telephone Number</label> &nbsp &nbsp
                    <input type="text" placeholder="Input Telephone Number">
                    <br>
                    <br>
                    <label>Customer Email</label> &nbsp &nbsp &nbsp &nbsp
                    <input type="text" placeholder="Input Customer Email">
                    <button>ADD</button>
                    <button>DELETE</button>
                    <button>UPDATE</button>

                </form>
                <table>
                    <tr>
                        <th>Customer Name</th>
                        <th>Customer ID</th>
                        <th>Customer Address</th>
                        <th>Telephne Num</th>
                        <th>Customer email</th>

                    </tr>
                </table>
            </div>
        </div>
    </div>

</main>
</body>
</html>