<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/normalize.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/login.css">
    <title>POS</title>
    <link rel="icon" href="../img/Cart.png">
    <style>


    </style>
</head>
<body>
<main>
    <div class="loginbox">
        <img src="../img/profile.png" class="profile">
        <h1>Login</h1>
        <a>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
        </a>
        <a href="home.html">
            <input type="submit" name="" value="LogIn"></a>
        <a href="#">
            <input type="submit" name="" value="SignUp"></a>
    </div>
</main>
</body>
</html>